body {
  font-family: 'Arial', sans-serif;
  background-color: #e0f4ff;
  margin: 0;
  text-align: center;
}
.screen {
  padding: 20px;
}
.hidden {
  display: none;
}
.intro-container {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 800px;
}
.intro-full-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.start-btn {
  background-color: #FFA726;
  transition: all 0.3s ease;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}
#question-image {
  width: 120px;
  margin: 10px 0;
}
.buttons {
  margin: 10px 0;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:first-child {
  background-color: #4caf50;
  color: white;
}
button:last-child {
  background-color: #f44336;
  color: white;
}
#timer, #score, #feedback {
  font-size: 1.2em;
  margin-top: 10px;
}


.start-btn:hover {
  background-color: #FB8C00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) scale(1.05);
}
